html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top ease 0.5s;
  z-index: 1;
}

#header.cache {
  top: -50px;
}

#head {
  background: transparent;
  margin: 0%;
  padding: 0%;
  display: flex;
  height: 50px;
  justify-content: space-between;
  
}

.haut-gauche {
  display: flex;
  width: 50%;
}

.haut-gauche a {
  padding: 10px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.1)
}

.haut-gauche a:hover {
  background-color: #007c74;
}

.haut-gauche form {
  
  margin: auto;
  color: #fff;
  width: 100%;
}

#label {
  margin-left: 1%;
}

.email {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 165px;
  font-weight: 700;
  font-size: 0.875rem;
  color: #fff;
  margin-left: 1%;
}

.email::placeholder {
  color: #fff;
}

.submit {
  margin: 0;
  background-color: #007c74;
  border: none;
  font-weight: 600;
  font-size: 0.875rem;
  color: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -4px;
  cursor: pointer;
}

.haut-droite {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.haut-droite a {
  text-decoration: none;
  color: #fff;
  margin: auto;
  padding-left: 20px;
}

.haut-droite a:hover {
  color: #007c74;
}

.carnet {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carnet:hover .coeur1 {
  display: none;
}

.carnet:hover .coeur2 {
  display: block;
}

.coeur2 {
  display: none;
}

.carnet img {
  margin-right: 2px;
}

.espace img {
  width: 27px;
}

.espace {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.espace:hover .profil1 {
  display: none;
}

.espace:hover .profil2 {
  display: block;
}

.profil2 {
  display: none;
}

.navigation {
  background: #fff;
  display: flex;
  height: 80px;
  box-shadow: 0 1px 5px gray;
}

.euro {
  height: 50px;
  margin: 10%;
  margin-top: 13px;
}

.eurovelo {
  height: 50px;
  margin-left: 15px;
  margin-top: 13px;
}

.navigation ul {
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: start;
}

.navigation li {
  display: inline;
}

.navigation li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-left: 2%;
  font-size: 1em ;
  text-transform: uppercase;
}

.navigation li a:hover {
  color: #007c74;
}

.headerlangueflag {
  height: 50%;
  margin: auto;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
}
#loupe {
  height: 30%;
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 30px;
}

#loupe.afficher {
  display: none;
}

#croix {
  display: none;
  height: 25%;
  margin-left: 20%;
  margin-right: 1%;
  margin-top: 33px;
}

#croix.afficher {
  display: block;
}

#recherche {
  display: none;
}

#recherche.afficher {
  display: block;
}

.search {
  width: 100%;
  height: 50px;
  background-color: black;
  padding: 1%;
  color: #fff;
  font-weight: 600;
  font-size: larger;
  border: none;
  border-radius: 5px;
}

.search::placeholder {
  color: #fff;
}

#header_telephone {
  display: none;
}

.nav-container {
  display: none;
}

#container_search {
  display: none;
}

#lien {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#Newsletter{
  display: none;
}

#accueil {
  margin-left: 1%;
}

/* fleche pour remmonter en version mobile */
.flechemobile {
  position: fixed;
  bottom: 2%;
  right: 8%;
  display: none;
  z-index: 99;
}

.flechemobile img {
  width: 2em;
}

/*main*/


main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 0;
}

.carousel p {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 1em;
  font-size: 1em;
  color: white;
}

.slider h2 {
  margin: auto;
  width: 40vw;
  margin-top: 75vh;
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  line-height: .8;
  text-shadow: 1px 1px 2px #007c74;
}

.slider div h2 span {
  font-size: 4rem;
  font-weight: 100;
}

/*CARTE*/

.conteneurcarte {
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 50px;
grid-row-gap: 50px;
  width: 100%;
}
.imageCarte img {
  width: 90%;
  margin: 5% 5%;
  align-items: center;
  justify-content: center;
}
.descriptif {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.descriptif h2 {
  font-size: 2em;
  color: #231f20;
  font-family: 'Poppins', sans-serif;
  line-height: 40px;
}

.descriptif p {
  font-size: 1.1em;
  color: #585858;
  text-align: left;
}

.descriptif span {
  color: #007c74;
  font-weight: bold;
}

.descriptif img {
  width: 230px;
}

.containerTemoignages {
  margin-top: 50px;
  width: 100%;
  height: auto;
  
}

.titreTemoignage{   
  width: 100%;
  justify-content: center;
  text-align: center;
}
.titreTemoignage h2{
  font-weight: 400;
  font-size: 3em;
  margin: 1em 0;
  color: #000000;
}
.titreTemoignage p {
  color: #000000;
  font-size: 1em;
  margin: 3em 0;
}
.temoignages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  gap: 2%;
  margin: auto;
  justify-content:center ;

}

.temoignages img {
  border-radius: 1.2%;
  width: 400px;
  height: 250px;
}

.imgTemoignage {
  position: relative;
  overflow: hidden;
  border-radius: 1.2%;
}

.imgTemoignage a {
  overflow: hidden;

}

.imgTemoignage p {
  text-align: center;
  top: 45%;
  left: 50%;
  display: inline;
  position: absolute;
  color: white;
  width: 200px;
  font-size: 1em;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  font-size: 20px;
  font-weight: bolder;  
  width: 100%;

}

.imgTemoignage:hover p {
  top: 50%;
  transition: 0.4s;
}

.imgTemoignage:hover img {
  filter: blur(6px);
  transition: 0.4s;
  transform: scale(1.2);
}

.imgTemoignage:hover {
  box-shadow: 2px 2px 7px rgb(75, 75, 75);
  transition: .3s;
}

.imgTemoignage img {
  transition: .4s;
}

.trouverVelo {
  width: 100%;
  margin-top: 8%;
  margin-bottom: 8%;
}
.titreTrouverVelo{   
  width: 100%;
  justify-content: center;
  text-align: center;
}
.titreTrouverVelo h4{
  font-weight: 400;
  font-size: 3em;
  margin: 1em 0;
  color: #000000;
}
.titreTrouverVelo p {
  color: #000000;
  font-size: 1em;
  margin: 2em 0;
}
.imageTrouverVelo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
  gap: 2%;
  margin:auto;
  justify-content:center ;
}

.imageTrouverVelo img {
  border-radius: 1.2%;
  width: 400px;
  height: 250px;
}

.imgTrouverVelo {
  position: relative;
  overflow: hidden;
  border-radius: 1.2%;
}

.imgTrouverVelo a {
  overflow: hidden;

}

.imgTrouverVelo p {
  text-align: center;
  top: 45%;
  left: 50%;
  display: inline;
  position: absolute;
  color: white;
  width: 200px;
  font-size: 1em;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  font-size: 20px;
  font-weight: bolder;  
  width: 100%;

}

.imgTrouverVelo:hover p {
  top: 50%;
  transition: 0.4s;
}

.imgTrouverVelo:hover img {
  filter: blur(6px);
  transition: 0.4s;
  transform: scale(1.2);
}

.imgTrouverVelo:hover {
  box-shadow: 2px 2px 7px rgb(75, 75, 75);
  transition: .3s;
}

.imgTrouverVelo img {
  transition: .4s;
}


/*FORMULAIRE*/

.formulaire {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  background-color: #007c74;
  border-radius: 2px;
  margin: auto;  
  box-shadow: -3px 3px 8px lightslategray;
}
.conteneurcarte2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.formulaire p {
  font-size: 2em;
}

.valider a {
  font-size: 1em;
  background-color: black;
  padding: 10px;
  margin: auto;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

form {
  width: 330px;
}

.valider {
  margin-top: 20px;
}

.conteneurcarte2 form {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 30px;
  font-size: 1em;
  margin-right: 10px;
  margin-bottom: 45px;
}

.conteneurcarte2 form select {
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 15px 10px;
  font-weight: bold;
}
.fait {
  margin-top: 50px;
  background: url(/images/imagesbg/ilonfait.jpg) no-repeat;
  background-size: cover;
  /* background-color: #007c74; */
  width: 100%;
  height: 93vh;
  
}
.titreFait{   
  width: 100%;
  justify-content: center;
  text-align: center;
}
.titreFait h4{
  font-weight: 400;
  font-size: 3em;
  margin: 1em 0;
  color: #fff;
}
.titreFait p {
  color: #fff;
  font-size: 1.2em;
  margin: 2em 0;
}
.imagefait {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 95%;
  gap: 2%;
  margin:auto;
  justify-content:center ;
}

.imagefait img {
  border-radius: 1.2%;
  width: 450px;
  height: 300px;
}

.imgfait {
  position: relative;
  overflow: hidden;
  border-radius: 1.2%;
}

.imgfait a {
  overflow: hidden;

}

.imgfait p {
  text-align: center;
  top: 80%;
  left: 50%;
  display: inline;
  position: absolute;
  color: white;
  width: 200px;
  font-size: 1em;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  font-size: 26px;
  font-weight: bolder;  
  width: 100%;

}

.imgfait:hover p {
  top: 70%;
  transition: 0.4s;
}

.imgfait:hover img {
  filter: blur(6px);
  transition: 0.4s;
  transform: scale(1.2);
}

.imgfait:hover {
  box-shadow: 2px 2px 7px rgb(75, 75, 75);
  transition: .3s;
}

.imgfait img {
  transition: .4s;
}
.btnFait {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.btnFait a {
  text-decoration: none;
  background-color: transparent;
  padding: 15px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

/* avis */
.avis-titre{
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.avis-titre h2{
  margin-top: 3%;
  font-size: 2.6em;
  font-weight: 300;
}

.avis-titre p{
  color: #755d5d;
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: 500;
  width: 40%;
  margin: auto;
  margin-top: 2%;
}
#conteneur-avis{
  background-color: rgb(255, 255, 255);
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1%;
  padding: 5%  ;

}

#conteneur-avis h2{
  font-size: 0.7em;
  margin-bottom: 2%;
}

#conteneur-avis h3 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 3%;
}

#conteneur-avis h4{
  margin: 0;
  background-color: orange;
  display: flex;
  justify-content: flex-start;
  color: white ;
  font-size: 1.2em;
  text-align: center;
  padding: 1%;
  font-weight: bold;
  margin-bottom: 5%;
}

#conteneur-avis h5 {
  font-weight: 400;
}

#conteneur-avis h6 {
  font-weight: 900;
  font-size: 1em;
}
.Avis-titre2{
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5%;
}

#conteneur-avis .avis{
  padding: 10%;  
  min-height: 50vh;
  background-color: #f4f4f4;
  width: 80%;
  
}
.btnAvis {
  margin-bottom: 3%; 
  display: flex;
  justify-content: center;
}
.btnAvis a {
  text-decoration: none;
  background-color: transparent;
  padding: 15px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.Partez {
  margin-top: 50px;
  background: url(/images/imagesbg/litoo.jpeg) no-repeat;
  background-size: cover;
  /* background-color: #007c74; */
  width: 100%;
  height: 93vh;
  
}
.titrePartez{   
  width: 100%;
  justify-content: center;
  text-align: center;
}
.titrePartez h4{
  font-weight: 400;
  font-size: 3em;
  margin: 1em 0;
  color: #fff;
}
.titrePartez p {
  color: #fff;
  font-size: 1.2em;
  margin: 2em 0;
}
.imagePartez {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 95%;
  gap: 2%;
  margin:auto;
  justify-content:center ;
}

.imagePartez img {
  border-radius: 1.2%;
  width: 450px;
  height: 300px;
}

.imgPartez {
  position: relative;
  overflow: hidden;
  border-radius: 1.2%;
}

.imgPartez a {
  overflow: hidden;

}

.imgPartez p {
  text-align: center;
  top: 80%;
  left: 50%;
  display: inline;
  position: absolute;
  color: white;
  width: 200px;
  font-size: 1em;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  font-size: 26px;
  font-weight: bolder;  
  width: 100%;

}

.imgPartez:hover p {
  top: 70%;
  transition: 0.4s;
}

.imgPartez:hover img {
  filter: blur(6px);
  transition: 0.4s;
  transform: scale(1.2);
}

.imgPartez:hover {
  box-shadow: 2px 2px 7px rgb(75, 75, 75);
  transition: .3s;
}

.imgPartez img {
  transition: .4s;
}

/*Footer*/

.footerr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(/images/imagesbg/flous1.jpg);
  backdrop-filter: blur(8px);
  background-size: cover;
  width: 100%;
  height:10%;
  overflow: hidden;
}

.qsn1 {
  width: 65px;
  height: 65px;
  margin-top: 40px;
}

.qsn2 {
  height: 65px;
  margin-left: 11px;
}

.headfoot {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin: 0 15%;
}

.logod img {
  width: 25px;
  margin-right: 5px;

}

.fcontenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.fcontenu p {
  line-height: 28px;
  font-weight: bold;
  width: 100%;
}

.quisommesnous {
  width: 60%;
}

.quisommesnous h3 {
  font-size: 1.8em;
}

.fboutons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

a.btnb {
  
  text-decoration: none;
  width: 180px;
  margin-left: 15%;
  
}

.fboutons a {
  text-decoration: none;
  font-weight: bold;
  height: min-content;
  margin-top: 40px;
}

.btnb p {
  color: #007c74;
  background-color: white;
  width: 140px;
  display: block;
  padding: 7px 20px 7px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightslategray;
}

.btnb p:hover {
  box-shadow: 0px 0px 6px #007c74;
}

.btnv p {
  color: white;
  background-color: #007c74;
  width: 240px;
  display: block;
  padding: 7px 20px 7px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightslategray;
}

.btnv {
  width: 280px;
  margin-left: 30px;
}

.btnv p:hover {
  box-shadow: 0px 0px 6px white;
}

/* footer itinéraire */

.footm1 {
  display: flex;
  flex-direction: row;
  background-color: white;
  gap: 5%;
  margin-left: 15%;
}

.footm1 span {
  color: black;
  font-weight: bold;
}

.presentation {
  line-height: 30px;
  font-weight: bold;
  flex: 1;
  margin-left: 10px;
}


.presentation ul {
  padding: 0;
}

.presentation a,
.presentation li {
  color: black;
}

.suggestions {
  line-height: 22px;
  flex: 1;
}

.suggestions a,
.suggestions ul {
  padding: 0;
}

.suggestions a,
.suggestions li {
  color: #585858;
}

.conseils {
  line-height: 22px;
  flex: 1;
  
}

.conseils ul {
  padding: 0;
}

.conseils a,
.conseils li {
  color: #585858;
}

.footm1 a,
ul {
  text-decoration: none;
  list-style: none;
}

/*footer Accueil Vélo */

.footm2 {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  width: 100%;
}

.veloacc {
  width: 5%;
  margin-left: 330px;
  margin-top: 40px;
}

.veloacc img {
  width: 49px;
  height: 71px;
}

.velotext {
  width: 50%;
  margin-top: 25px;
  padding-left: 1%;
}

.velotext p {
  line-height: 25px;
  font-size: 0.9em;
  color: #585858;
}

.velotext h4 {
  font-size: 1em;
}

.boutons {
  display: flex;
  align-items: center;
  margin-right: 330px;
}

.btn1 p {
  color: black;
  background-color: white;
  width: 150px;
  display: block;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightgray;
  padding: 10px 20px;
}

.btn1 p:hover {
  box-shadow: 0px 0px 6px gray;
}

.btn2 p {
  color: white;
  background-color: black;
  width: 250px;
  display: block;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightgray;
  padding: 10px 20px;
  margin-left: 30px;
}

.btn2 p:hover {
  box-shadow: 0px 0px 6px gray;
}

.boutons a {
  text-decoration: none;
  font-weight: bold;
}

/* footer mentions légales */

.footb {
  display: flex;
  width: 100%;
  background-color: black;
}

.ml li {
  display: inline;
  margin-left: 10px;
}

.ml a {
  color: white;
  text-decoration: none;
  margin: 0;
}

.ml ul {
  font-size: 12px;
  margin-left: 280px;
  font-weight: bold;
  margin-top: 26px;
  padding-left: 10px;
}

.realisation {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: auto;
  margin-left:auto ;
  margin-right: 10px;
}

.logofvt img {
  width: 145px;
}

.logofvt {
  margin-top: auto;
  margin-bottom: auto;
}

.simplon img {
  width: 90px;
}

.simplon {
  margin-top: auto;
  margin-bottom: auto;
}


/* Responsive iPhone 12Pro  */

@media screen and (max-width:480px) {

  /*Header*/

  #header_ordi {
    display: none;
  }

  #lien {
    display: none;
  }

  .nav-container {
    display: block;
  }

  #header_telephone {
    display: flex;
    width: 100%;
    background-color: #fff;
  }

  #header.cache {
    top: -80px;
  }

  #icon_menu {
    width: 150%;
  }

  #menu figcaption {
    margin-left: 0;
    font-size: 65%;
  }

  #logo_telephone {
    margin-left: 0%;
  }

  #loupe2 {
    width: 8%;
    height: 8%;
    margin: auto;

  }
  .buttons h1{
    font-size:1.8em ;
  }
  .velodepartarivee {
    display: none;
  }
  .descriptionHeader{
    display: none;
  }
  .imageCarte {
    display: none;
  }
  .conteneurcarte {
    display: flex;
    width: 100%;
  }
  #menu {
    width: 8%;
    height: 8%;
    margin: auto 30px auto 30px;
  }

  #recherche_mobile {
    display: none;
  }

  .navm {
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 4;
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
  }

  #es_pro {
    margin-left: 8%;
    color: #fff;
    text-decoration: none;
  }

  .h2nav {
    text-align: center;
    font-size: 120%;
    margin: 0;
    margin-top: -15%;
    margin-left: 5%;
  }



  #navm_ul {
    margin: 0;
    margin-top: 15vh;
    margin-left: -3vw;
    padding: 0;
  }

  .liennav {
    text-align: center;
    margin-bottom: 5%;
    font-size: 180%;
  }

  .liennav a {
    color: #fff;
    text-decoration: none;
  }

  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 30px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container input[type="checkbox"]:checked~.navm {
    transform: translateX(100%);
    transition: 0.5s;
  }



  .nav-container input[type="checkbox"]:checked {
    transform: translateX(303px);
    transition: 0.5s;
  }

  #croix_mobile {
    background-color: #fff;
    border-radius: 100%;
    top: 20px;
    left: 330px;
    position: relative;
    padding: 2px;
  }

  form {
    display: inline-block;
    margin-left: 10%;
    width: 80%;
  }

  .conteneurcarte2 form select {
    margin-left: 8px;
    width: 100%;
  }

  form p {
    text-align: center;
  }

  #container_search {
    display: block;
  }

  #search_mobile {
    left: -100%;
    width: 100%;
    height: 8%;
    top: 68px;
    transition: 0.5s;
    z-index: 2;
    background: rgba(0, 0, 0);
    position: absolute;
  }

  .search {
    height: 100%;
    background-color: black;
  }

  .checkbox2 {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 320px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox2:checked~#search_mobile {
    transform: translateX(100%);
    transition: 0.5s;

  }

  .checkbox2:checked {
    transform: translateY(200%);
    transition: 0.5s;

  }

  #croix_mobile2 {
    background-color: #fff;
    border-radius: 100%;
    bottom: 53px;
    left: 320px;
    position: relative;
    padding: 2px;
  }

  .carnet_espace {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    text-decoration: none;
    color: white;

  }

  .eurovelo {
    padding-bottom: 5%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .fait {
  height: 150vh;
  background: #000000;
  margin: 0;
  color: #ffffff;
  margin-top: 25px;
  }
  .fait h4 {
    color: rgb(254, 254, 254);
  }
  .fait p {
    color: #fff;
  }
  .btnFait  {
   margin-top: 50px;
  }
  .avis{
    margin: 5px 0;
  }
  .avis-titre p {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 95%;
  }
  .temoignages {
    width: 95%;
    padding-left: 10px;
  }
  .imgTemoignage p {
    font-size: 0.8em;
  }
  .imagefait {
    
    width: 90%;
    display: grid;
    
    flex-direction: initial;
    flex-wrap: nowrap;
  }
  .btnFait {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .Partez {
    height: auto;
  }
  .imagePartez {
    display: flex;
    flex-wrap: wrap;
  }
  .btnFait {
    margin-top: 30px;
  }
  .conteneurcarte {
    margin: 0;
    width: 100%;
    flex-direction: initial;
  }

  .descriptif {
    margin-top: 10px;
    width: 100%;
    padding: 1px 10px 1px 10px;
  }
  
  .formulaire  {
    margin: 0;
    padding: 0%;
    
  }
  form {
    margin: 0;
  }
  
  .imageSlider img {
    transform: translateY(50px);
  }
  .buttons h1 {
    position: absolute;
    top: 30%;
    left: 28%;
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: center;
  }
  .valider a {
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    background-color: rgb(3, 3, 3);
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    width: 90%;
    display: flex;
  }
  .descriptif h2 {
    font-size: 1.75rem;
  }

  .descriptif img {
    margin-top: 20px;
  }

  .descriptif p {
    width: 95%;
    margin: auto;
    text-align: justify;
  }

  #conteneur-avis {
    display: flex;
    flex-wrap: wrap;
    
  }

  .imageTrouverVelo {
    margin: 0 6px;
    width: 100%;
    
    gap: 2px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);

  }
  .imageTrouverVelo img {
    height: 200px;
    width: 180px;
    
  }
  .imageTrouverVelo p {
    font-size: 0.6em;
  }

  .titreFait p {
    text-align: justify;
    margin: 10px 20px;
  }
  /* fleche pour remmonter en version mobile */

  .flechemobile {
    display: block;
  }

  /* slider */

  .slider {
    height: 50vh;
  }

  /* Temognages et news */

  .temoignages {
    margin: 0 0 30px 0;
  }

  .imgnew img {
    width: 95%;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 10px;
  }

  .imgnew p {
    padding-bottom: 5px;
    padding-top: 5px;
    width: 371px;
  }

  /* Footer qui sommes nous */

  .headfoot {
    margin: 50px 0 0 0;
  }
  .footerr {
    height: auto;
  }

  .fcontenu {
    margin: 0 ;
    height: 40vh;
  }

  .qsn1 {
    margin-left: 10px;
    margin-top: auto;
  }

  .qsn2 {
    margin: 0 0 0 5px;
  }

  .logod {
    margin-right: 5px;
  }

  .quisommesnous {
    display: none;
  }

  .fboutons {
    margin: 27%;
    width: auto;
    display: block;
  }

  .fboutons p {
    margin: 0;
    margin-bottom: 1em;
    width: auto;
    font-size: 0.9em;
  }

  /* footer présentation de l'itinéraire */

  .footm1 {
    flex-direction: column;
    font-size: 1.3em;
    margin: 0;
    margin-left: 10px;
    width: 350px;
  }

  .presentation {
    line-height: 1.1;
    margin-left: 0;
  }

  .presentation li {
    margin: 0;
  }

  .suggestions {
    margin: 0;
    line-height: 1.10;
  }

  .conseils {
    line-height: 1.10;
    margin: 0;
  }
 

  /* footer marque accueil vélo */

  .footm2 {
    margin: auto;
    flex-direction: column;
    padding-top: 10px;
  }

  .veloacc {
    display: none;
  }

  .velotext {
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .boutons {
    margin: 0 15px 20px 20px;
  }

  .boutons p {
    margin: 0;
    width: 110px;
  }

  .btn1 {
    margin-right: 15px;
    margin-left: 15px;
  }

  .btn2 {
    margin-top: 12px;
  }

  /*footer metions légales */

  .footb {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .ml {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }

  .ml a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
  }

  .ml ul {
    margin: 5px 0 0 0;
    text-align: left;
    padding-left: 0;
  }

  .ml li {
    margin: 0;
  }

  .realisation {
    margin: 23px 5px 0 10px;
  }

  .simplon {
    margin: 20px 0px 0px 5px;
  }

  .logofvt {
    margin-left: 0px;
  }
}