body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
}

/* Article */
#titreEtape {
    padding-left: 15px;
    color: #007c74;
    font-weight: 900;
}

#texteEtape {
    padding: 0 15px 25px 15px;
    font-weight: 500;
}

.description {
    overflow: scroll;
    align-self: flex-end;
    justify-content: space-between;
    width: 40vw;
    height: 87vh;
    line-height: 1.5;
}

.infos {
    background-color: #f59c00;
    width: 41vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1vw;
}

#img {
    width: 100%;
}

.infos span {
    padding: 15px;
    font-weight: 600;
}

.iconeEtape {
    width: 25px;
    height: 25px;
    margin-left: -5px;
}

/* Fin article */
/* Bouton download */
.download {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    position: fixed;
    width: 40vw;
    bottom: 0px;
    left: 0px;
    box-shadow: 0 0 10px black;
}

.download a {
    display: flex;
    align-items: center;
    color: #007c74;
    text-decoration: none;
    font-weight: bold;
}

.download a img {
    width: 40px;
}

#gpxDownload {
    padding: 0 5px 0 5px;    
}

#etapePrecedente {
    order: -1;
    visibility: hidden;
    padding: 0 5px 0 5px;
}

#iconePrecedente {
    order: -1;
    padding-right: 5px;
}

#etapeSuivante {
    visibility: hidden;
    padding: 0 5px 0 5px;
}

#iconeSuivante {
    padding-left: 5px;
    order: 1;
}

#gpxDownload:hover, #etapeSuivante:hover, #etapePrecedente:hover {
    background-color: #007c743d;

}

/* Fin bouton download */
/* Bouton retour */
#bouton {
    position: fixed;
    left: 700px;
    top: 140px;
    width: 40px;
    background-color: hsla(176, 100%, 24%, 0.3);
    border-radius: 50%;
}

#bouton:hover {
    background-color: hsla(176, 100%, 24%, 0.7);
    border-radius: 50%;
}

/* Fin du bouton retour */
/* Style carte */
#map {
    z-index: 0;
    align-self: flex-end;
    width: 60vw;
    height: 87vh;
}

.leaflet-popup-content-wrapper {
    background-color: hsla(176, 100%, 24%, 0.8);
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    color: white;
    text-align: center;
    margin: 5px 15px 5px 15px;
}

.leaflet-popup-tip {
    background-color: hsla(176, 100%, 24%, 0.8);
}

/* Fin style carte */
/*Header*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top ease 0.5s;
    z-index: 1;
}

#header.cache {
    top: -50px;
}

#head {
    background: transparent;
    margin: 0%;
    padding: 0%;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.haut-gauche {
    display: flex;
    width: 50%;
}

.haut-gauche a {
    padding: 10px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.1)
}

.haut-gauche a:hover {
    background-color: #007c74;
}

form {
    margin: auto;
    color: black;
    width: 100%;
}

#label {
    margin-left: 10%;
}

.email {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 165px;
    font-weight: 700;
    font-size: 0.875rem;
    color: black;
    margin-left: 1%;
}

.email::placeholder {
    color: black;
}

.submit {
    margin: 0;
    background-color: #007c74;
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -4px;
}

.haut-droite {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.haut-droite a {
    text-decoration: none;
    color: black;
    margin: auto;
    padding-left: 20px;
}

.haut-droite a:hover {
    color: #007c74;
}

.carnet {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carnet:hover .coeur1 {
    display: none;
}

.carnet:hover .coeur2 {
    display: block;
}

.coeur2 {
    display: none;
}

.carnet img {
    margin-right: 2px;
}

.espace img {
    width: 27px;
}

.espace {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.espace:hover .profil1 {
    display: none;
}

.espace:hover .profil2 {
    display: block;
}

.profil2 {
    display: none;
}

.navigation {
    background: #fff;
    display: flex;
    height: 80px;
    box-shadow: 0 1px 5px gray;
}

.euro {
    height: 50px;
    margin: 10%;
    margin-top: 13px;
}

.eurovelo {
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
}

.navigation ul {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: start;
}

.navigation li {
    display: inline;
}

.navigation li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-left: 1%;
    font-size: 1em ;
    text-transform: uppercase;
  }

.navigation li a:hover {
    color: #007c74;
}
.headerlangueflag {
    height: 50%;
    margin: auto;
    border: 2px solid black;
    border-radius: 3px;
  }

#loupe {
    height: 30%;
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 30px;
}

#loupe.afficher {
    display: none;
}

#croix {
    display: none;
    height: 30%;
    margin-left: 20%;
    margin-right: 1%;
    margin-top: 33px;
}

#croix.afficher {
    display: block;
}

#recherche {
    display: none;
}

#recherche.afficher {
    display: block;
}

.search {
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 1%;
    color: #fff;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 5px;
}

.search::placeholder {
    color: #fff;
}

#header_telephone {
    display: none;
}

.nav-container {
    display: none;
}

#container_search {
    display: none;
}

#Newsletter{
    display: none;
}

/* Fin header */

/*Responsive*/
@media screen and (max-width:1080px) {
    #titreEtape {
        margin: 5px;
    }

    #map {
        height: 84vh;
    }

    .description {
        height: 84vh;
    }

    .download {
        font-size: 14px;
    }

    .download a img {
        width: 20px;
    }

    #texteEtape {
        margin-bottom: 10px;
    }

    /* Bouton retour */
    #bouton {
        position: fixed;
        left: 390px;
        top: 138px;
        width: 30px;
        background-color: hsla(176, 100%, 24%, 0.3);
        border-radius: 50%;
    }

    #bouton:hover {
        background-color: hsla(176, 100%, 24%, 0.7);
        border-radius: 50%;
    }
    /* Fin du bouton retour */
    /*Header*/
    .haut-droite {
        width: 45%;
    }

    .haut-gauche {
        width: 55%;
    }

    #label {
        display: none;
    }

    #Newsletter {
        display: inline;
    }
}


@media screen and (max-width:480px) {

    #texteEtape {
        margin-bottom: 10px;
    }
    /*Header*/

    #header_ordi {
        display: none;
    }

    .nav-container {
        display: block;
    }

    #header_telephone {
        display: flex;
        width: 100%;
        background-color: #fff;
    }

    #header.cache {
        top: 0px;
    }

    #icon_menu {
        width: 150%;
    }

    #menu figcaption {
        margin-left: 0;
        font-size: 65%;
    }

    #logo_telephone {
        margin-left: 0%;
    }

    #loupe2 {
        width: 8%;
        height: 8%;
        margin: auto;

    }

    #menu {
        width: 8%;
        height: 8%;
        margin: auto 30px auto 30px;
    }

    #recherche_mobile {
        display: none;
    }

    .navm {
        left: -100%;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        z-index: 4;
        background: rgba(0, 0, 0, 0.95);
        position: fixed;
        top: 0;
    }

    .navm form {
        color: #fff;
    }

    .email::placeholder {
        color: #fff;
    }

    #es_pro {
        margin-left: 8%;
    }

    .h2nav {
        text-align: center;
        font-size: 120%;
        margin: 0;
        margin-top: -15%;
        margin-left: 5%;
    }



    #navm_ul {
        margin: 0;
        margin-top: 15vh;
        margin-left: -3vw;
        padding: 0;
    }

    .liennav {
        text-align: center;
        margin-bottom: 5%;
        font-size: 180%;
    }


    .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 25px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container input[type="checkbox"]:checked~.navm {
        transform: translateX(100%);
        transition: 0.5s;
    }



    .nav-container input[type="checkbox"]:checked {
        transform: translateX(302px);
        transition: 0.5s;
    }

    #croix_mobile {
        background-color: #fff;
        border-radius: 100%;
        top: 20px;
        left: 330px;
        position: relative;
        padding: 2px;
    }

    form {
        display: inline-block;
        margin-left: 10%;
        width: 80%;
    }

    form p {
        text-align: center;
    }

    #container_search {
        display: block;
    }

    #search_mobile {
        left: -100%;
        width: 100%;
        height: 8%;
        top: 68px;
        transition: 0.5s;
        z-index: 2;
        background: rgba(0, 0, 0);
        position: absolute;
    }

    .search {
        height: 100%;
        background-color: black;
    }

    .checkbox2 {
        position: relative;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 318px;
        z-index: 3;
        opacity: 0;
        cursor: pointer;
    }

    .checkbox2:checked~#search_mobile {
        transform: translateX(100%);
        transition: 0.5s;

    }

    .checkbox2:checked {
        transform: translateY(200%);
        transition: 0.5s;

    }

    #croix_mobile2 {
        background-color: #fff;
        border-radius: 100%;
        bottom: 53px;
        left: 320px;
        position: relative;
        padding: 2px;
    }

    .carnet_espace {
        display: flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
        margin: 0%;

    }

    .liennav a,
    #es_pro,
    .carnet_espace {
        text-decoration: none;
        color: white;
    }

    .eurovelo {
        padding-bottom: 5%;
        margin-left: 5px;
        margin-right: 5px;
    }

    /* Fin header */

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /* carte */
    #map {
        position: fixed;
        order: 0;
        z-index: 0;
        align-self: flex-end;
        width: 100vw;
        height: 29vh !important;
        top: 65px;
        margin-top: 100px;
        border-bottom: solid black 2px;
    }

    /* Article */

    .description {
        position: fixed;
        order: 1;
        overflow: scroll;
        align-self: flex-end;
        justify-content: space-between;
        width: 100vw;
        height: 60vh !important;
        bottom: 3vh;
    }

    .infos {
        width: 100%;
        margin-left: 0;
        font-size: 14px;
        font-weight: 400;
    }

    .infos span {
        padding: 2px 15px 2px 15px;
    }

    #titreEtape {
        padding: 0 15px 0 15px;
        text-align: center;
        margin: 0;
        font-size: 1.5em;
    }

    /* Bouton download */
    .download {
        width: 100vw;
        margin-left: 0;
        bottom: 0px;
    }

    .download a {
        display: flex;
        align-items: center;
        color: #007c74;
        text-decoration: none;
        font-weight: 900;
        font-family: Poppins, sans-serif;
    }

    .download a img {
        width: 40px;
    }

    /* Fin bouton download */
    /* Bouton retour */
    #bouton {
        position: absolute;
        left: 335px;
        top: 80px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }

    /* Fin du bouton retour */
}




.leaflet-div-icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

div#itineraire-container {
    display: flex;
    flex-flow: row nowrap;
}

/* A partir d'ici on défini les règles pour l'affichage de la liste des étapes sur la gauche */
div#left-side-container {
    margin-top: 130px;
    padding: 0;
    width: 40vw;
    height: calc(100vh - 130px);
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
}

/* La partie haute à gauche */
div#partie-haute-container {
    display: flex;
    flex-flow: column nowrap;
}

div#partie-haute-container div.etape-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div#partie-haute-container div.etape-menu div.lien-container {
    width: 33.3%;
    text-align: center;
    padding: 1.5% 0 1.5% 0;
    border-bottom: 3px solid transparent;
}

div#partie-haute-container div.etape-menu div.lien-container a.onglet-menu {
    display: block;
    font-family: 'Poppins';
    font-size: 0.8rem;
    font-weight: 800;
    color: #585858;
    padding: 0 9% 0 9%;
    text-transform: uppercase;
    text-decoration: none;
}

div#partie-haute-container div.etape-menu div.lien-container-selected {
    border-bottom: 3px solid #007c74;
}

div#partie-haute-container div.etape-menu div.lien-container a.onglet-menu-selected {
    color: #007c74;
}

div#partie-haute-container div.etape-menu div.lien-container a.onglet-menu span.onglet-menu-etapes::before {
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    content: '';
    text-transform: none;
    position: relative;
    top: 5px;
}

div#partie-haute-container div.etape-menu div.lien-container img{
    width: 5%;
}

#swap-arrows {
    width: 3%;
    margin-left: 7px;
    margin-bottom: 17px;
}

div#partie-haute-container div.etape-menu div.lien-container a.onglet-menu span.onglet-menu-boucles::before {
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    content: '';
    text-transform: none;
    position: relative;
    top: 5px;
}

div#partie-haute-container div.etape-menu div.lien-container a.onglet-menu span.onglet-menu-gps::before {
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    content: '';
    text-transform: none;
    position: relative;
    top: 5px;
}

div#partie-haute-container div.planifier-itineraire {
    background-color: #475995;
}

div#partie-haute-container div.planifier-itineraire p {
    margin: 2% 0 2% 3%;
    font-family: 'Poppins';
    color: white;
}

div#partie-haute-container div.planifier-itineraire div.formulaire-itineraire {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div#partie-haute-container div.planifier-itineraire div.formulaire-itineraire select {
    font-family: 'Poppins';
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 2.4rem;
    width: 25%;
    margin: 1% 0 3% 1%;
    padding-left: 10px 0 10px 15px;
}

div#partie-haute-container div.planifier-itineraire div.formulaire-itineraire span.swap-vert-icon {
    padding: 0;
    margin: 0;
    color: white;
}

div#partie-haute-container div.planifier-itineraire div.formulaire-itineraire button {
    font-family: 'Poppins';
    font-weight: 700;
    text-transform: uppercase;
    background-color: #586eb8;
    color: white;
    height: 2.4rem;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1% 0 3% 5%;
    padding: 0 2% 0 2%;
}

div#partie-haute-container div#gpx-container {
    margin: 3% 0 3% 0;
    text-align: center;
}

div#partie-haute-container div#gpx-container a {
    font-family: 'Poppins';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.0rem;
    color: #007c74;
}

div#partie-haute-container div#gpx-container a::before {
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    font-size: 1.3rem;
    font-weight: 800;
    font-style: normal;
    content: '';
    text-transform: none;
    position: relative;
    top: 5px;
}

/* Le container qui contient la liste des étapes */
div#container-liste-etape {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

/* Le container pour une seule étape */
div.etape-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

/* Le container de l'image */
div.image-etape-container {
    display: inline-block;
    position: relative;
    width: 30%;
}

img.image-etape {
    width: 100%;
    height: 90%;
}

span.distance-etape {
    font-family: 'Poppins';
    background-color: white;
    color: black;
    position: absolute;
    top: 10%;
    left: 0;
    padding: 4% 6% 4% 0;
}

/* Le container qui contient le titre, la ville de départ et d'arrivé et le texte */
div.etape-content-container {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
}

div.etape-content-container h2 {
    font-family: 'Poppins';
    font-size: 0.8rem;
    color: white;
    background-color: #f59c00;
    padding: 1.5% 0 1.5% 3%;
}

div.etape-content-container span {
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    padding: 2% 0 2% 2%;
}

div.etape-content-container p {
    font-family: 'Poppins';
    font-size: 1.1rem;
    color: #585858;
    padding: 1% 0 2% 2%;
}

div#container-liste-etape div.etape-container:hover {
    background-color: black;
}

div#container-liste-etape div.etape-container:hover div.image-etape-container img.image-etape {
    filter: blur(5px);
    width: 100%;
}

div#container-liste-etape div.etape-container:hover div.etape-content-container span {
    color: white;
}

div#container-liste-etape div.etape-container:hover div.etape-content-container p {
    color: white;
}

/* Le div contenant la map */
div#map {
    margin: 0;
    padding: 0;
    width: 60vw;
    height: calc(100vh - 130px);
}

/* Les style des markers de la map */
div.map-marker {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #F59C00;
    background-color: white;
}

div.start-map-marker {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #13a000;
    background-color: white;
}

div.end-map-marker {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #b30303;
    background-color: white;
}

div.map-marker:hover {
    border-color: #2f9f48;
}


/* DETAIL DES ETAPES A GAUCHE */

.etape-detail-image img {
    width: 100%;
}

div#partie-haute-container div.top-etape-flex-column {
    display: flex;
    flex-flow: column nowrap;
}

div#partie-haute-container div.top-etape-flex-row-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 9vh;
    border-bottom: 1px solid #CCC;
}

div#partie-haute-container div.top-etape-flex-row-1 div.top-etape-flex-row-2 {
    display: flex;
    flex-flow: row nowrap;
    gap: 4%;
    width: 100%;
}

div#partie-haute-container div.top-etape-flex-row-1 div.top-etape-flex-row-2 div.top-etape-flex-column span.etape-desc-trajet {
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

div#partie-haute-container div.top-etape-flex-row-1 div.top-etape-flex-row-2 div.top-etape-flex-column span.etape-desc-veloeuro {
    font-family: 'Poppins';
    font-size: 1.1rem;
    color: #F59C00;
}



div#partie-haute-container div.top-etape-flex-row-1 div.top-etape-flex-row-2 div.top-etape-flex-column {
    display: flex;
    flex-flow: column nowrap;
}

div#partie-haute-container div.top-etape-flex-row-1 div.top-etape-flex-row-2 a {
    text-decoration: none;
}

/* Deuxième ligne contenant les liens 'description' et 'avis et témoignages' */
div#partie-haute-container div.top-etape-flex-column div.top-etape-flex-row-3 {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 6vh;
}

div#partie-haute-container div.top-etape-flex-column div.top-etape-flex-row-3 div.lien-container {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}

div#partie-haute-container div.top-etape-flex-column div.top-etape-flex-row-3 div.lien-container a.onglet-menu {
    display: block;
    font-family: 'Poppins';
    font-size: 0.8rem;
    font-weight: 400;
    color: #585858;
    padding: 0 9% 0 9%;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

div#partie-haute-container div.top-etape-flex-column div.top-etape-flex-row-3 div.lien-container-selected {
    border-bottom: 3px solid #007c74;
}

div#partie-haute-container div.top-etape-flex-column div.top-etape-flex-row-3 div.lien-container a.onglet-menu-selected {
    color: #007c74;
}

div#partie-haute-container div.top-etape-flex-column div.top-etape-flex-row-3 div.lien-container a.onglet-menu span.onglet-menu-desc::before {
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    content: '';
    text-transform: none;
    position: relative;
    vertical-align: middle;
}

div#partie-haute-container div.top-etape-flex-column div.top-etape-flex-row-3 div.lien-container a.onglet-menu span.onglet-menu-avis::before {
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    content: '';
    text-transform: none;
    position: relative;
    vertical-align: middle;
}

/* Ici on commence les styles concernant l'affichage de l'étape en lui même */
div#container-liste-etape div.etape-detail-container div.etape-detail-top h2 {
    width: 100%;
    height: 2vh;
    font-family: 'Mukta Mahee';
    font-size: 1rem;
    color: white;
    background-color: #f59c00;
    text-align: center;
    line-height: 23px;
    padding: 1.5% 0 1.5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-flex-row span.etape-distance {
    font-family: 'Mukta Mahee';
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-flex-row span.etape-temps {
    font-family: 'Mukta Mahee';
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-flex-row div.difficulte {
    text-align: center;
    width: 30%;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-image img {
    width: 100%;
    height: auto;
}

.etape-detail-image {
    margin: 0;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-dep-arr-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    height: 5vh;
    position: relative;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-dep-arr-flex div.etape-detail-ville-depart,
div#container-liste-etape div.etape-detail-container div.etape-detail-dep-arr-flex div.etape-detail-ville-arrive {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-dep-arr-flex div.etape-detail-ville-depart span {
    font-family: 'Mukta Mahee';
    font-size: 1rem;
    color: black;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-dep-arr-flex div.etape-detail-ville-depart i.circle1 {
    color: #54b40b;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-dep-arr-flex div.etape-detail-ville-arrive span {
    font-family: 'Mukta Mahee';
    font-size: 1rem;
    color: black;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-dep-arr-flex div.etape-detail-ville-arrive i.circle2 {
    color: #ef4136;
}

div#container-liste-etape div.etape-detail-container div.etape-detail-description p {
    font-family: 'Mukta Mahee';
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
    text-align: justify;
    margin: 1.5vh 2vw 15vh 2vw;
}

div#container-liste-etape div.etape-detail-container {
    position: relative;
}

.etape-detail-bottom-link {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    padding: 18px;
    color: #007c74 ;
}
.etape-detail-bottom-link a {
    text-decoration: none;
    color: #007c74 ;
    font-weight: 600;
}
.etape-detail-bottom-button {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: space-around;
    gap: 20%;
    text-align: center;
    background-color: #007c74;
    color: #fff;
}
.etape-detail-bottom-numero-etape {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#bouton-etape-suivante {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.etape-detail-bottom-bouton-suivant a {
    text-decoration: none;
    color: #fff;
}
#iconFleche.fa-solid.fa-arrow-right::before {
    font-size: 1.5em;
    color: #fff;
}
#bouton-etape-precedente {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.etape-detail-bottom-bouton-precedent a {
    text-decoration: none;
    color: #fff;
}

.fa-solid.fa-arrow-left::before {
    font-size: 1.5em;
    color: #000000; 
}
/* Partie Responsive */
@media screen and (max-width: 400px) {
    div#map {
        display: none;
        width: 100vw;
        height: 100vh;
    }

    div#left-side-container {
        /* display: none; */
        width: 100vw;
        height: 100vh;
        margin-top: 50px;
    }

    div#container-liste-etape div.etape-detail-container div.etape-bottom-block-fixed {
        width: 100vw;
    }

    div#partie-haute-container div.planifier-itineraire div.formulaire-itineraire {
        flex-flow: column nowrap;
    }

    div#partie-haute-container div.planifier-itineraire div.formulaire-itineraire select {
        height: 2.4rem;
        width: 85%;
        margin: 1% 0 3% 1%;
        padding-left: 10px;
    }

    div#partie-haute-container div.planifier-itineraire div.formulaire-itineraire button {
        font-weight: 400;
        font-size: 0.9rem;
    }

    div.etape-content-container span.etape-dep-arr {
        font-size: 1.2rem;
    }

    div.etape-content-container p {
        display: none;
    }

    /* Le container en bas de la description d'une étape avec les liens */

    div#partie-haute-container div.top-etape-flex-row-1 {
        margin-top: 0;
    }

    div#container-liste-etape div.etape-detail-container div.etape-bottom-block-fixed {
        position: static;
        top: 0;
        left: 0;
        width: 100vw;
        height: 13vh;
    }

    div#container-liste-etape div.etape-detail-container div.etape-bottom-block-fixed div.etape-detail-bottom-link {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10021;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width:100%;
        height: 5vh;
        background-color: white;
        padding: 0;
    }

    /* Le container contenant les boutons précédent et suivant */
    div#container-liste-etape div.etape-detail-container div.etape-bottom-block-fixed div.etape-detail-bottom-button {
        position: fixed;
        left: 0;
        bottom: 2.5em;
        z-index: 102202;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    div#container-liste-etape div.etape-detail-container div.etape-bottom-block-fixed div.etape-detail-bottom-bouton-suivant {
    display: none;
    
    }
    div#container-liste-etape div.etape-detail-container div.etape-bottom-block-fixed div.etape-detail-bottom-bouton-precedent {
        display: none;
    }

    div#container-liste-etape div.etape-detail-container div.etape-bottom-block-fixed div.etape-detail-bottom-link a {
        text-align: center;
        width: 100%;
        font-size: 0.7rem;
        font-weight: 400;
        color: #07756d;
    }

    /* Les boutons responsive de navigation entre carte et étape */
    div#button-responsive-to-map {
        display: block;
        position: fixed;
        right: 2vw;
        bottom: 7vh;
        z-index: 1050;
    }

    div#button-responsive-to-map a{
        display: block;
        font-family: 'Poppins';
        font-size: 1rem;
        font-weight: 600;
        background-color: #F59C00;
        color: white;
        padding: 1vh 2vw;
        text-decoration: none;
        border-radius: 10px;
    }

    div#button-responsive-to-etape {
        display: none;
        position: fixed;
        right: 1vw;
        bottom: 7vh;
        z-index: 1051;
    }

    div#button-responsive-to-etape a {
        display: block;
        font-family: 'Poppins';
        font-size: 1rem;
        font-weight: 600;
        background-color: #F59C00;
        color: white;
        padding: 1vh 2vw;
        text-decoration: none;
        border-radius: 10px;
    }
  
}