*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.NavbarReseaux{
    display: flex;
  
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    margin: 0;
}
.link-share a{
    width: 1.5rem;
    background-color: rgba(128, 128, 128, 0.296);
    padding: 0.8rem;
    margin: 0;
    transition: 300ms;
}
.link-share a:hover{
    background-color: #e5b9d5;
}
.link-share{
    display: flex;
    gap: 10px;
}
.linkContact{
    display: flex;
    align-items: center;
}
.linkProfile{
    display: flex;
    align-items: center;
}
.form-email{
    width: 8rem;
    padding: 0.8rem;
    background-color: rgba(128, 128, 128, 0.296);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 5px;
}

.bntNewsletter{
    text-decoration: none;
    background-color: #e5b9d5;
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.newsletter-form{
    display: flex;
    align-items: center;
    margin: 0.2rem;
}
.newsletter-form label, .newsletter-form input, .newsletter-form a, ::placeholder{
    font-weight: 700;
    color: white;
    text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

.linkProfile a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0.3rem;
}
.linkProfile a:hover {
    color: #e5b9d5;
}
.fa-heart, .fa-user-circle{
     padding: 0.6rem;
}

.navBar img{
    width: 3rem;
    padding: 0.6rem;
}
.navBar ul{
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 700;
}



.block-slider .title {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    z-index: 8;
    padding: 0 30px;
}

.block-slider .title h1 {
    color: #fff
}

.block-slider.base-line .title {
    position: absolute;
    top: auto;
    bottom: 130px;
    width: 100%;
    left: auto;
    transform: translate(0,0);
}

.block-slider.base-line .title h1 {
    color: red;
    font-size: 2.5rem;
    line-height: 1em
}

.block-slider.base-line .title .field_base_line {
    color: red;
    font-size: 1.875rem;
    line-height: 1em;
    display: block
}

.grid_desc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
h2.title_desc {
    font-family: Arial, Helvetica, sans-serif;
    grid-area: 1 / 2 / 2 / 3;
}
div.text_desc{
    font-family: 'Roboto', sans-serif;
    grid-area: 2 / 2 / 3 / 3;
}

